<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка</title>
</head>
<body>
    <hgroup>
        <h1>Внимание!</h1>
        <h2>@ViewBag.error @*При обработке запроса произошла ошибка.*@</h2>
    </hgroup>

    <div>
        @Html.ActionLink("Вернуться", "Index")
    </div>
</body>
</html>
